@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {
  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .v-underline::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Distância inicial entre a palavra e o sublinhado */
  left: 0;
  width: 100%; /* Faz o SVG ocupar toda a largura da palavra */
  height: 20px; /* Altura máxima do sublinhado */
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 106 26" preserveAspectRatio="none"><path d="M0 0 L50 20 L100 0" fill="none" stroke="%2371A9CC" stroke-width="3"/></svg>')
    no-repeat;
  background-size: 100% 100%; /* Faz o sublinhado esticar para a largura total */
  }
  
}
